# Example .env file

# database
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=pass123
JWT_KEY=this_is_a_very_long_and_secure_secret_key_for_jwt_token_generation_32_bytes_minimum

# admin acc

DEF_USER=admin
DEF_PASS=pass123

